<h2><%= link_to 'Favourites', routes.images_path %></h2>

<h2>Random gifs</h2>

<h2>Total count <%= images_count %></h2>

<div class="row">
  <div class="column">
    <h3>Giphy</h3>
    <%= render partial: 'partials/images', locals: { images: images_giphy } %>
  </div>

  <div class="column">
    <h3>Tenor</h3>
    <%= render partial: 'partials/images', locals: { images: images_tenor } %>
  </div>
</div>
