<h2>Search results</h2>

<% if images.any? %>
  <div id="images">
    <% images.each do |image| %>
      <div class="images">
        <img alt=<%=image[:id]%> src=<%=image[:url]%> />
      </div>

      <%=
        form_for :image, 'images/', method: :post, remote: true do
          div do
            hidden_field :id, value: image[:id]
          end
          div do
            hidden_field :url, value:  image[:url]
          end
          submit 'Add to favourites', :remote => true
        end
      %>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are some problems.</p>
<% end %>


